@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

::selection {
  background: #ff5a5a44; /* WebKit/Blink Browsers */
}

a:hover {
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Guaranteed no scrollbars */
  background-color: #000; /* Optional black background while image loads */
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: 1; /* Keeps image in the background */
}
/* Container to stack the image and text */
.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

h1 {
  font-family: bebas neue;
  position: relative;
  z-index: 2; /* Forces text to sit on top of the image */
  color: #ffffff; /* White text */
  font-size: 3rem; /* Large text size */
  text-align: center;
  padding: 0 20px; /* Prevents text from touching edges on small screens */
  letter-spacing: 2px;
}

.back {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 10px 30px 10px 30px !important;
  border-radius: 50px;
  background-color: #ff0000;
  font-size: 25px;
  font-family: Poppins;
  font-weight: 600;
  letter-spacing: 0px;
  color: #ffffff;
  transition: 0.3s;
}

.back:hover {
  color: #000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}
